.match-card-container {
	position: relative;

	width: 80%;

	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
	opacity: 0;
	font-family: "Cairo";
	color: #2f3640;
	font-weight: bold;

	transition: 0.3s;
}

.match-card-line {
	position: absolute;

	background-color: black;
}

.line-1 {
	top: 0px;
	left: 0px;
	width: 0%;
	transition: 0.3s;
	height: 2px;
}
.line-2 {
	left: 0px;
	top: 0px;
	height: 0%;
	transition: 0.4s;
	width: 2px;
}

.line-3 {
	bottom: 0px;
	left: 0px;
	width: 0%;
	transition: 0.4s;
	height: 2px;
}

.line-4 {
	bottom: 0px;
	right: 0px;
	width: 2px;
	height: 0%;
	transition: 0.6s;
	height: 2px;
}

.match-card-wrapper {
	position: relative;
	top: 0px;
	width: 100%;
	height: 100%;

	align-items: center;
	display: flex;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
	box-shadow: 0px 0px 0px 0px gray;
	transition: 0.3s;
}

.match-card-wrapper:hover {
	cursor: pointer;
	box-shadow: 0px 0px 3px 3px rgb(97, 97, 97);
}

.match-card-champion-icon-container {
	position: relative;

	display: inline-block;

	margin-right: 20px;
}

.match-card-champion-icon {
	position: relative;

	background-position: center center center;
	background-size: cover;
	width: 60px;
	height: 60px;
}

.basic-match-info-container {
	width: 450px;

	display: flex;
	align-items: center;
}

.match-card-map-time-container {
}

.match-card-map {
	display: inline-block;
	margin-right: 15px;
}

.match-card-time {
	display: inline-block;
}

.match-card-type-mobile {
	display: none;
}

.match-card-game-type-length {
}
.match-card-type {
	display: inline-block;
	margin-right: 15px;
}

.match-card-length {
	display: inline-block;
}

.rank-score-position-wrapper {
	display: flex;
}

.match-card-rank-container {
	background: url("../../media/immortalicon.png");
	width: 85px;
	height: 85px;
	background-size: cover;
	background-position: center;

	display: inline-block;
}

.match-player-stats-container {
	position: relative;
	width: 60%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.match-score-position-container {
	position: relative;

	display: inline-block;
	width: 50px;
}

.match-score-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.score-section-container {
	text-align: center;
}

.player-stats-wrapper {
	position: relative;
	display: flex;
	width: 50%;
	justify-content: space-between;

	margin-left: 40px;
}

.player-section-container {
	display: inline-block;
}

.match-player-kda {
}

.match-card-drop-down-container {
	position: relative;
	width: 99.8%;
	height: 0px;
	background-color: white;
	border: 1px solid black;
	transition: 0.3s;
	overflow: hidden;
}

.drop-down-team-header {
	position: relative;
}

.team-player-stats-container-header {
	position: absolute;

	right: 0px;
	top: 0px;
	padding-right: 20px;
	display: inline-block;
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.drop-down-chart-container {
	margin-top: 10px;
}

.recharts-surface {
	width: 98% !important;
}

.drop-down-team {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 100%;
}

@media only screen and (max-width: 1450px) {
	.match-card-container {
		width: 95%;
	}

	.match-card-map-time-container {
		width: 160px;
		margin-right: 10px;
	}

	.match-card-game-type-length {
	}
	.match-card-container {
	}

	.player-section-container {
	}
}

@media only screen and (max-width: 600px) {
	.match-card-container {
		width: 95%;
	}

	.match-card-wrapper {
		position: relative;
		height: 125px;
		padding: 10px;
		display: grid;
		grid-template-rows: 50% 50%;
	}

	.match-card-champion-icon-container {
		position: relative;

		display: inline-block;

		margin-right: 20px;
	}

	.match-card-champion-icon {
		width: 40px;
		height: 40px;
	}

	.basic-match-info-container {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 50px;
	}

	.match-card-map-time-container {
		width: 100px;
	}

	.match-card-game-type-length {
	}

	.player-stats-wrapper {
		position: relative;

		width: 95%;

		left: 50%;
		transform: translateX(-50%);

		justify-content: space-between;

		margin-left: 0px;
		align-items: center;
		bottom: -5px;
	}

	.match-player-stats-container {
		position: relative;

		display: grid;

		height: 100%;
	}

	.match-score-container {
		font-size: 14px;
		width: 100%;
		text-align: center;

		display: inline-block;
	}

	.match-card-map {
		font-size: 14px;
		width: 40px;
		position: relative;
		top: 5px;
	}
	.match-card-type {
		font-size: 14px;
		position: relative;
		bottom: 7px;
	}

	.match-card-type-mobile {
		font-size: 14px;
		position: relative;
		bottom: 7px;
	}

	.match-card-type {
		font-size: 14px;
	}

	.match-card-type {
		display: none;
	}

	.match-card-time {
		font-size: 14px;
		display: none;
	}

	.match-card-type-mobile {
		display: inline-block;
		font-size: 14px;
	}

	.match-card-length {
		font-size: 14px;
	}

	.rank-score-position-wrapper {
		position: relative;

		height: 100%;
	}

	.match-card-section {
	}

	.match-card-rank-container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
	}

	.match-player-stats-container {
	}

	.match-player-hs-percent {
	}

	.match-player-acs {
		display: none;
	}

	.player-section-container {
		font-size: 14px;
	}
}
